<%- include("./partials/header") -%>

    <main>
        <div class="success-icon">
            <i class="fa-solid fa-check"></i>
        </div>

        <article>
            <p class="success">
                Success
            </p>

            <p class="get-id">
                Check your email
            </p>
        </article>
    </main>


<%- include("./partials/footer") -%>